In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set_style("whitegrid")
plt.style.use("fivethirtyeight")

## Most Recent Cohorts

In [2]:
most_recent_cohorts = pd.read_csv("../data/Most-Recent-Cohorts-All-Data-Elements.csv", low_memory=False)

In [3]:
most_recent_cohorts.shape

(6806, 1987)

In [4]:
most_recent_cohorts.head()

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED,SEARCH_STRING
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,...,0.7057,0.7143,5343.0,1165.0,1288.0,2.0,0.7083,0.7287,2698.0,Alabama A & M University AAMU
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu,https://uab.studentaidcalculator.com/survey.aspx,...,0.3788,0.5350,14445.0,10498.0,2228.0,2.0,0.3891,0.5414,4176.0,University of Alabama at Birmingham
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,...,1.0000,1.0000,440.0,527.0,5.0,4.0,PrivacySuppressed,PrivacySuppressed,24.0,Amridge University Southern Christian Universi...
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,0.2707,0.4556,8145.0,2443.0,1341.0,2.0,0.2378,0.4402,2544.0,University of Alabama in Huntsville UAH Unive...
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/tuition-costs/net-price...,...,0.7792,0.7539,4732.0,642.0,951.0,2.0,0.7684,0.7464,2094.0,Alabama State University

In [5]:
most_recent_cohorts.isna().sum()

UNITID                        0
OPEID                         0
OPEID6                        0
INSTNM                        0
CITY                          0
                           ...
POOLYRS_FTFTAIDPCT          774
FTFTPCTPELL_POOLED_SUPP     977
FTFTPCTFLOAN_POOLED_SUPP    977
SCUGFFN_POOLED              774
SEARCH_STRING                 0
Length: 1987, dtype: int64

In [6]:
most_recent_cohorts.columns

Index(['UNITID', 'OPEID', 'OPEID6', 'INSTNM', 'CITY', 'STABBR', 'ZIP',
       'ACCREDAGENCY', 'INSTURL', 'NPCURL',
       ...
       'FTFTPCTPELL', 'FTFTPCTFLOAN', 'UG12MN', 'G12MN', 'SCUGFFN',
       'POOLYRS_FTFTAIDPCT', 'FTFTPCTPELL_POOLED_SUPP',
       'FTFTPCTFLOAN_POOLED_SUPP', 'SCUGFFN_POOLED', 'SEARCH_STRING'],
      dtype='object', length=1987)

In [7]:
school_loc_info = most_recent_cohorts[['UNITID', 'OPEID', 'INSTNM', 'CITY', 'STABBR', 'ZIP']]

## Most recent 'field of study' data EDA

In [8]:
most_recent_fields = pd.read_csv("../data/Most-Recent-Field-Data-Elements.csv")

In [9]:
most_recent_fields.shape

(216638, 18)

In [10]:
most_recent_fields.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216638 entries, 0 to 216637
Data columns (total 18 columns):
UNITID             211020 non-null float64
OPEID6             216638 non-null int64
INSTNM             216638 non-null object
CONTROL            216638 non-null object
MAIN               216638 non-null int64
CIPCODE            216638 non-null int64
CIPDESC            216638 non-null object
CREDLEV            216638 non-null int64
CREDDESC           216638 non-null object
COUNT              64143 non-null float64
DEBTMEDIAN         51423 non-null float64
DEBTPAYMENT10YR    51423 non-null float64
DEBTMEAN           73581 non-null float64
TITLEIVCOUNT       43878 non-null float64
EARNINGSCOUNT      42159 non-null float64
MD_EARN_WNE        45371 non-null float64
IPEDSCOUNT1        183767 non-null float64
IPEDSCOUNT2        186139 non-null float64
dtypes: float64(10), int64(4), object(4)
memory usage: 29.8+ MB

In [11]:
most_recent_fields.head(10)

,UNITID,OPEID6,INSTNM,CONTROL,MAIN,CIPCODE,CIPDESC,CREDLEV,CREDDESC,COUNT,DEBTMEDIAN,DEBTPAYMENT10YR,DEBTMEAN,TITLEIVCOUNT,EARNINGSCOUNT,MD_EARN_WNE,IPEDSCOUNT1,IPEDSCOUNT2
0,100654.0,1002,Alabama A & M University,Public,1,100,"Agriculture, General.",3,Bachelors Degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
1,100654.0,1002,Alabama A & M University,Public,1,101,Agricultural Business and Management.,3,Bachelors Degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100654.0,1002,Alabama A & M University,Public,1,109,Animal Sciences.,3,Bachelors Degree,NaN,NaN,NaN,31066.0,NaN,NaN,NaN,7.0,6.0
3,100654.0,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,3,Bachelors Degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,8.0
4,100654.0,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,5,Masters Degree,15.0,NaN,NaN,61527.0,NaN,NaN,NaN,9.0,10.0
5,100654.0,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,6,Doctoral Degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0
6,100654.0,1002,Alabama A & M University,Public,1,111,Plant Sciences.,3,Bachelors Degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,100654.0,1002,Alabama A & M University,Public,1,199,"Agriculture, Agriculture Operations, and Relat...",3,Bachelors Degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0
8,100654.0,1002,Alabama A & M University,Public,1,199,"Agriculture, Agriculture Operations, and Relat...",5,Masters Degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,8.0
9,100654.0,1002,Alabama A & M University,Public,1,199,"Agriculture, Agriculture Operations, and Relat...",6,Doctoral Degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0

In [12]:
most_recent_fields.CIPDESC.unique()

array(['Agriculture, General.', 'Agricultural Business and Management.',
       'Animal Sciences.', 'Food Science and Technology.',
       'Plant Sciences.',
       'Agriculture, Agriculture Operations, and Related Sciences, Other.',
       'Forestry.', 'City/Urban, Community and Regional Planning.',
       'Communication and Media Studies.',
       'Audiovisual Communications Technologies/Technicians.',
       'Computer and Information Sciences, General.',
       'Education, General.',
       'Educational Administration and Supervision.',
       'Special Education and Teaching.',
       'Teacher Education and Professional Development, Specific Levels and Methods.',
       'Teacher Education and Professional Development, Specific Subject Areas.',
       'Civil Engineering.',
       'Electrical, Electronics and Communications Engineering.',
       'Mechanical Engineering.', 'Engineering, Other.',
       'Electrical Engineering Technologies/Technicians.',
       'Industrial Production Technologies/Technicians.',
       'Mechanical Engineering Related Technologies/Technicians.',
       'Construction Engineering Technologies.',
       'Family and Consumer Sciences/Human Sciences, General.',
       'English Language and Literature, General.',
       'Liberal Arts and Sciences, General Studies and Humanities.',
       'Biology, General.', 'Mathematics.',
       'Health and Physical Education/Fitness.', 'Chemistry.', 'Physics.',
       'Psychology, General.',
       'Clinical, Counseling and Applied Psychology.',
       'Criminal Justice and Corrections.', 'Social Work.',
       'Political Science and Government.', 'Sociology.',
       'Fine and Studio Arts.', 'Music.',
       'Communication Disorders Sciences and Services.',
       'Business Administration, Management and Operations.',
       'Accounting and Related Services.',
       'Finance and Financial Management Services.', 'Marketing.',
       'Ethnic, Cultural Minority, Gender, and Group Studies.',
       'Computer/Information Technology Administration and Management.',
       'Student Counseling and Personnel Services.',
       'Teaching English or French as a Second or Foreign Language.',
       'Engineering, General.', 'Biomedical/Medical Engineering.',
       'Computer Engineering.', 'Materials Engineering',
       'Linguistic, Comparative, and Related Language Studies and Services.',
       'Romance Languages, Literatures, and Linguistics.',
       'Biochemistry, Biophysics and Molecular Biology.',
       'Cell/Cellular Biology and Anatomical Sciences.',
       'Microbiological Sciences and Immunology.', 'Genetics.',
       'Physiology, Pathology and Related Sciences.',
       'Pharmacology and Toxicology.',
       'Biomathematics, Bioinformatics, and Computational Biology.',
       'Biotechnology.',
       'Ecology, Evolution, Systematics, and Population Biology.',
       'Molecular Medicine.', 'Neurobiology and Neurosciences.',
       'Biological and Biomedical Sciences, Other.',
       'Applied Mathematics.', 'Systems Science and Theory.',
       'Nutrition Sciences.', 'Multi/Interdisciplinary Studies, Other.',
       'Philosophy.', 'Materials Sciences.', 'Public Administration.',
       'Anthropology.', 'Social Sciences, Other.',
       'Drama/Theatre Arts and Stagecraft.',
       'Health Services/Allied Health/Health Sciences, General.',
       'Dentistry.', 'Advanced/Graduate Dentistry and Oral Sciences.',
       'Dental Support Services and Allied Professions.',
       'Health and Medical Administrative Services.',
       'Allied Health Diagnostic, Intervention, and Treatment Professions.',
       'Clinical/Medical Laboratory Science/Research and Allied Professions.',
       'Medicine.',
       'Mental and Social Health Services and Allied Professions.',
       'Optometry.', 'Public Health.',
       'Rehabilitation and Therapeutic Professions.',
       'Dietetics and Clinical Nutrition Services.',
       'Registered Nursing, Nursing Administration, Nursing Research and Clinical Nursing.',
       'Health Professions and Related Clinical Sciences, Other.',
       'Business/Managerial Economics.',
       'Human Resources Management and Services.',
       'Management Information Systems and Services.',
       'General Sales, Merchandising and Related Marketing Operations.',
       'History.',
       'Human Development, Family Studies, and Related Services.',
       'Religion/Religious Studies.', 'Bible/Biblical Studies.',
       'Theological and Ministerial Studies.',
       'Pastoral Counseling and Specialized Ministries.',
       'Homeland Security.', 'Business/Corporate Communications.',
       'Computer Software and Media Applications.',
       'Aerospace, Aeronautical and Astronautical Engineering.',
       'Chemical Engineering.', 'Industrial Engineering.',
       'Rhetoric and Composition/Writing Studies.',
       'Biological and Physical Sciences.',
       'Science, Technology and Society.',
       'Atmospheric Sciences and Meteorology.',
       'Physical Sciences, Other.',
       'Management Sciences and Quantitative Methods.',
       'Information Science/Studies.', 'Computer Science.',
       'Educational/Instructional Media Design.',
       'Parks, Recreation and Leisure Facilities Management.',
       'Public Administration and Social Service Professions, Other.',
       'Dance.', 'Natural Resources Conservation and Research.',
       'Area Studies.', 'Journalism.',
       'Radio, Television, and Digital Communication.',
       'Public Relations, Advertising, and Applied Communication.',
       'Educational Assessment, Evaluation, and Research.',
       'Architectural Engineering.', 'Engineering Mechanics.',
       'Environmental/Environmental Health Engineering.',
       'Metallurgical Engineering.', 'Construction Engineering.',
       'Germanic Languages, Literatures, and Linguistics.',
       'Family and Consumer Economics and Related Studies.',
       'Foods, Nutrition, and Related Services.', 'Apparel and Textiles.',
       'Law.', 'Legal Research and Advanced Professional Studies.',
       'Library Science and Administration.', 'Statistics.',
       'Multi-/Interdisciplinary Studies, General.',
       'International/Global Studies.',
       'Geological and Earth Sciences/Geosciences.', 'Criminology.',
       'Geography and Cartography.',
       'International Relations and National Security Studies.',
       'Design and Applied Arts.',
       'Hospitality Administration/Management.', 'Taxation.',
       'Cosmetology and Related Personal Grooming Services.',
       'Drafting/Design Engineering Technologies/Technicians.',
       'Electrical/Electronics Maintenance and Repair Technology.',
       'Heating, Air Conditioning, Ventilation and Refrigeration Maintenance Technology/Technician (HAC, HACR, HVAC, HVACR).',
       'Precision Metal Working.',
       'Practical Nursing, Vocational Nursing and Nursing Assistants.',
       'Business Operations Support and Assistant Services.',
       'Education, Other.', 'Fire Protection.',
       'Social Sciences, General.',
       'Business, Management, Marketing, and Related Support Services, Other.',
       'Physical Sciences.', 'Economics.', 'Business/Commerce, General.',
       'International Business.', 'Agricultural Production Operations.',
       'Natural Resources Management and Policy.',
       'Wildlife and Wildlands Science and Management.', 'Architecture.',
       'Environmental Design.', 'Interior Architecture.',
       'Landscape Architecture.', 'Real Estate Development.',
       'Polymer/Plastics Engineering.',
       'Biological/Biosystems Engineering.',
       'Family and Consumer Sciences/Human Sciences, Other.',
       'Zoology/Animal Biology.',
       'Pharmacy, Pharmaceutical Sciences, and Administration.',
       'Veterinary Medicine.',
       'Veterinary Biomedical and Clinical Sciences.', 'Biopsychology.',
       'Religious/Sacred Music.', 'Film/Video and Photographic Arts.',
       'Homeland Security, Law Enforcement, Firefighting and Related Protective Services, Other.',
       'Allied Health and Medical Assisting Services.',
       'Behavioral Sciences.', 'Health/Medical Preparatory Programs.',
       'Legal Support Services.',
       'Computer Engineering Technologies/Technicians.',
       'Vehicle Maintenance and Repair Technologies.',
       'Applied Horticulture and Horticultural Business Services.',
       'Graphic Communications.',
       'Environmental Control Technologies/Technicians.',
       'Physical Science Technologies/Technicians.', 'Mason/Masonry.',
       'Carpenters.', 'Electrical and Power Transmission Installers.',
       'Building/Construction Finishing, Management, and Inspection.',
       'Heavy/Industrial Equipment Maintenance Technologies.',
       'Precision Systems Maintenance and Repair Technologies.',
       'Mechanic and Repair Technologies/Technicians, Other.',
       'Leatherworking and Upholstery.', 'Woodworking.',
       'Ground Transportation.', 'Health Aides/Attendants/Orderlies.',
       'Real Estate.',
       'Specialized Sales, Merchandising and Marketing Operations.',
       'Non-Professional General Legal Studies (Undergraduate).',
       'Legal Professions and Studies, Other.',
       'English Language and Literature/Letters, Other.',
       'Dispute Resolution.', 'Psychology, Other.',
       'Communication, Journalism, and Related Programs, Other.',
       'Civil Engineering Technologies/Technicians.',
       'Somatic Bodywork and Related Therapeutic Services.',
       'Nuclear and Industrial Radiologic Technologies/Technicians.',
       'Plumbing and Related Water Supply Services.',
       'Culinary Arts and Related Services.',
       'Engineering Technology, General.',
       'Mechanics and Repairers, General.', 'Air Transportation.',
       'Computer Programming.',
       'Computer Systems Networking and Telecommunications.',
       'Engineering Technologies/Technicians, Other.',
       'Religious Education.',
       'Quality Control and Safety Technologies/Technicians.',
       'Parks, Recreation and Leisure Studies.',
       'Specialized Sales, Merchandising and  Marketing Operations.',
       'Funeral Service and Mortuary Science.',
       'Military Systems and Maintenance Technology.',
       'Agricultural and Domestic Animal Services.',
       'Research and Experimental Psychology.',
       'Visual and Performing Arts, General.',
       'Intercultural/Multicultural and Diversity Studies.',
       'Architectural Engineering Technologies/Technicians.',
       'Electromechanical Instrumentation and Maintenance Technologies/Technicians.',
       'Sustainability Studies.',
       'Parks, Recreation, Leisure, and Fitness Studies, Other.',
       'Arts, Entertainment,and Media Management.',
       'Engineering Physics.',
       'Classics and Classical Languages, Literatures, and Linguistics.',
       'Philosophy and Religious Studies, Other.',
       'Human Services, General.', 'Visual and Performing Arts, Other.',
       'Entrepreneurial and Small Business Operations.',
       'Systems Engineering.', 'Gerontology.',
       'Medical Illustration and Informatics.',
       'Computer and Information Sciences and Support Services, Other.',
       'Engineering-Related Technologies.', 'American Sign Language.',
       'Soil Sciences.', 'Architectural Sciences and Technology.',
       'Construction Management.',
       'Mining and Petroleum Technologies/Technicians.',
       'Naval Architecture and Marine Engineering.',
       'American Indian/Native American Languages, Literatures, and Linguistics.',
       'Outdoor Education.', 'Science Technologies/Technicians, Other.',
       'Community Organization and Advocacy.',
       'Missions/Missionary Studies and Missiology.',
       'Fishing and Fisheries Sciences and Management.',
       'Natural Resources and Conservation, Other.',
       'Teaching Assistants/Aides.', 'Mining and Mineral Engineering.',
       'Petroleum Engineering.', 'Geological/Geophysical Engineering.',
       'East Asian Languages, Literatures, and Linguistics.',
       'Foreign Languages, Literatures, and Linguistics, Other.',
       'Natural Sciences.', 'Astronomy and Astrophysics.',
       'Construction Trades, General.', 'Marine Transportation.',
       'Crafts/Craft Design, Folk Art and Artisanry.',
       'Telecommunications Management.',
       'Ophthalmic and Optometric Support Services and Allied Professions.',
       'Publishing.', 'Computer Systems Analysis.',
       'Bilingual, Multilingual, and Multicultural Education.',
       'Curriculum and Instruction.',
       'Social and Philosophical Foundations of Education.',
       'Engineering Science.', 'Nuclear Engineering.',
       'Manufacturing Engineering.', 'Engineering-Related Fields.',
       'Nanotechnology.',
       'Slavic, Baltic and Albanian Languages, Literatures, and Linguistics.',
       'Middle/Near Eastern and Semitic Languages, Literatures, and Linguistics.',
       'Family and Consumer Sciences/Human Sciences Business Services.',
       'Botany/Plant Biology.', 'Mathematics and Statistics, Other.',
       'Medieval and Renaissance Studies.', 'Museology/Museum Studies.',
       'Cognitive Science.', 'Philosophy and Religious Studies, General.',
       'Public Policy Analysis.', 'Demography and Population Studies.',
       'Urban Studies/Affairs.', 'Data Entry/Microcomputer Applications.',
       'Construction Trades, Other.', 'Agricultural Mechanization.',
       'Architecture and Related Services, Other.',
       'Agricultural Engineering.',
       'Iranian/Persian Languages, Literatures, and Linguistics.',
       'Intelligence, Command Control and Information Operations.',
       'Historic Preservation and Conservation.', 'Archeology.',
       'Medical Clinical Sciences/Graduate Medical Studies.',
       'Mechatronics, Robotics, and Automation Engineering.',
       'Biology Technician/Biotechnology Laboratory Technician.',
       'Insurance.', 'Literature.', 'Human Biology.',
       'Library and Archives Assisting.',
       'Cultural Studies/Critical Theory and Analysis.',
       'Theology and Religious Vocations, Other.',
       'Communications Technology/Technician.', 'Data Processing.',
       'Peace Studies and Conflict Resolution.',
       'Alternative and Complementary Medicine and Medical Systems.',
       'Movement and Mind-Body Therapies and Education.',
       'Leisure and Recreational Activities.',
       'Agricultural Public Services.', 'Precision Production, Other.',
       'Nuclear Engineering Technologies/Technicians.',
       'Library Science, Other.',
       'Military Technologies and Applied Sciences, Other.', 'Nursing.',
       'Housing and Human Environments.',
       'Communications Technologies/Technicians and Support Services, Other.',
       'Basic Skills and Developmental/Remedial Education.',
       'Human Computer Interaction.', 'Mathematics and Computer Science.',
       'Marine Sciences.', 'Accounting and Computer Science.',
       'High School/Secondary Certificate Programs.',
       'Operations Research.',
       'Celtic Languages, Literatures, and Linguistics.',
       'Classical and Ancient Studies.', 'International Agriculture.',
       'Textile Sciences and Engineering.', 'Computational Science.',
       'Transportation and Materials Moving, Other.',
       'Southeast Asian and Australasian/Pacific Languages, Literatures, and Linguistics.',
       'Osteopathic Medicine/Osteopathy.', 'Podiatric Medicine/Podiatry.',
       'Health-Related Knowledge and Skills.', 'Chiropractic.',
       'Bioethics/Medical Ethics.', 'Sociology and Anthropology.',
       'Military Applied Sciences.',
       'Architectural History and Criticism.',
       'International and Comparative Education.',
       'Developmental and Child Psychology.',
       'Dental Residency Programs.', 'Biochemical Engineering.',
       'Agricultural and Food Products Processing.', 'Ocean Engineering.',
       'Clinical Psychology.', 'Modern Greek Language and Literature.',
       'Surveying Engineering.',
       'Medical Residency Programs - Subspecialty Certificates.',
       'Personal and Culinary Services, Other.',
       'Medical Residency Programs - General Certificates.',
       'Paper Science and Engineering.', 'Veterinary Residency Programs.',
       'South Asian Languages, Literatures, and Linguistics.',
       'Air Force ROTC, Air Science and Operations.',
       'High School/Secondary Diploma Programs.',
       'Science Technologies/Technicians, General.',
       'Boilermaking/Boilermaker.', 'Electromechanical Engineering.',
       'Personal Awareness and Self-Improvement.',
       'Physiological Psychology/Psychobiology.',
       'Army ROTC, Military Science and Operations.',
       'Alternative and Complementary Medical Support Services.',
       'Energy and Biologically Based Therapies.',
       'Counseling Psychology.',
       'African Languages, Literatures, and Linguistics.',
       'Holocaust and Related Studies.', 'Engineering Chemistry.',
       'Work and Family Studies.', 'Ceramic Sciences and Engineering.',
       'Security Policy and Strategy.',
       'Cognitive Psychology and Psycholinguistics.', 'Maritime Studies.',
       'Military Science and Operational Studies.',
       'Citizenship Activities.', 'Forest Engineering.',
       'Turkic, Uralic-Altaic, Caucasian, and Central Asian Languages, Literatures, and Linguistics.',
       'Precision Production Trades, General.', 'Creative Writing.',
       'Rural Sociology.', 'Interpersonal and Social Skills.',
       'Educational Psychology.', 'Medical Residency Programs.',
       'Neuroscience.', 'Social Psychology.'], dtype=object)

In [13]:
most_recent_fields.CIPDESC.value_counts()

Business Administration, Management and Operations.                                   6649
Accounting and Related Services.                                                      4525
Registered Nursing, Nursing Administration, Nursing Research and Clinical Nursing.    4507
Health and Medical Administrative Services.                                           4290
Criminal Justice and Corrections.                                                     4055
                                                                                      ...
Social Psychology.                                                                       1
Creative Writing.                                                                        1
Physiological Psychology/Psychobiology.                                                  1
Educational Psychology.                                                                  1
Neuroscience.                                                                            1
Name: CIPDESC, Length: 396, dtype: int64

In [14]:
most_recent_fields.CONTROL.value_counts()

Public                 123499
Private, nonprofit      67550
Private, for-profit     20780
Foreign                  4809
Name: CONTROL, dtype: int64

In [15]:
most_recent_fields.CREDDESC.value_counts()

BachelorÂ’s Degree                       68958
Associate's Degree                      43921
Undergraduate Certificate or Diploma    43462
Master's Degree                         35365
Doctoral Degree                         11487
Graduate/Professional Certificate        9939
First Professional Degree                2109
Post-baccalaureate Certificate           1351
Bachelors Degree                           20
Associates Degree                          15
Masters Degree                             11
Name: CREDDESC, dtype: int64

## Subset of Public Schools, in TN and out of TN

In [16]:
## Join school location info to 'Most Recent Fields'
recent_fields_dir = pd.merge(most_recent_fields, school_loc_info, on = 'UNITID')

In [17]:
recent_fields_dir = recent_fields_dir.drop(columns=['INSTNM_y'])

In [18]:
public_schools = recent_fields_dir.loc[recent_fields_dir['CONTROL'] == 'Public']
public_schools.head()

,UNITID,OPEID6,INSTNM_x,CONTROL,MAIN,CIPCODE,CIPDESC,CREDLEV,CREDDESC,COUNT,...,DEBTMEAN,TITLEIVCOUNT,EARNINGSCOUNT,MD_EARN_WNE,IPEDSCOUNT1,IPEDSCOUNT2,OPEID,CITY,STABBR,ZIP
0,100654.0,1002,Alabama A & M University,Public,1,100,"Agriculture, General.",3,Bachelors Degree,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,100200,Normal,AL,35762
1,100654.0,1002,Alabama A & M University,Public,1,101,Agricultural Business and Management.,3,Bachelors Degree,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,100200,Normal,AL,35762
2,100654.0,1002,Alabama A & M University,Public,1,109,Animal Sciences.,3,Bachelors Degree,NaN,...,31066.0,NaN,NaN,NaN,7.0,6.0,100200,Normal,AL,35762
3,100654.0,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,3,Bachelors Degree,NaN,...,NaN,NaN,NaN,NaN,5.0,8.0,100200,Normal,AL,35762
4,100654.0,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,5,Masters Degree,15.0,...,61527.0,NaN,NaN,NaN,9.0,10.0,100200,Normal,AL,35762

In [19]:
public_schools.shape

(122802, 22)

In [20]:
## Tennessee Public Schools
tn_public_schools = public_schools.loc[public_schools['STABBR'] == 'TN']
tn_public_schools.head()

,UNITID,OPEID6,INSTNM_x,CONTROL,MAIN,CIPCODE,CIPDESC,CREDLEV,CREDDESC,COUNT,...,DEBTMEAN,TITLEIVCOUNT,EARNINGSCOUNT,MD_EARN_WNE,IPEDSCOUNT1,IPEDSCOUNT2,OPEID,CITY,STABBR,ZIP
151601,219596.0,5358,Tennessee College of Applied Technology-Athens,Public,1,1504,Electromechanical Instrumentation and Maintena...,1,Undergraduate Certificate or Diploma,NaN,...,NaN,NaN,NaN,NaN,31.0,33.0,535800,Athens,TN,37371-0848
151602,219596.0,5358,Tennessee College of Applied Technology-Athens,Public,1,4603,Electrical and Power Transmission Installers.,1,Undergraduate Certificate or Diploma,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,535800,Athens,TN,37371-0848
151603,219596.0,5358,Tennessee College of Applied Technology-Athens,Public,1,4701,Electrical/Electronics Maintenance and Repair ...,1,Undergraduate Certificate or Diploma,NaN,...,NaN,NaN,NaN,NaN,8.0,16.0,535800,Athens,TN,37371-0848
151604,219596.0,5358,Tennessee College of Applied Technology-Athens,Public,1,4703,Heavy/Industrial Equipment Maintenance Technol...,1,Undergraduate Certificate or Diploma,NaN,...,NaN,NaN,NaN,39800.0,1.0,NaN,535800,Athens,TN,37371-0848
151605,219596.0,5358,Tennessee College of Applied Technology-Athens,Public,1,4706,Vehicle Maintenance and Repair Technologies.,1,Undergraduate Certificate or Diploma,NaN,...,NaN,38.0,37.0,19500.0,19.0,19.0,535800,Athens,TN,37371-0848

## Subset of Private Schools, non-profit only

In [21]:
private_schools_np = recent_fields_dir.loc[recent_fields_dir['CONTROL'] == 'Private, nonprofit']
private_schools_np.head()

,UNITID,OPEID6,INSTNM_x,CONTROL,MAIN,CIPCODE,CIPDESC,CREDLEV,CREDDESC,COUNT,...,DEBTMEAN,TITLEIVCOUNT,EARNINGSCOUNT,MD_EARN_WNE,IPEDSCOUNT1,IPEDSCOUNT2,OPEID,CITY,STABBR,ZIP
203,100690.0,25034,Amridge University,"Private, nonprofit",1,1907,"Human Development, Family Studies, and Related...",3,BachelorÂ’s Degree,10.0,...,39393.0,NaN,NaN,NaN,4.0,18.0,2503400,Montgomery,AL,36117-3553
204,100690.0,25034,Amridge University,"Private, nonprofit",1,1907,"Human Development, Family Studies, and Related...",5,Master's Degree,18.0,...,62523.0,NaN,NaN,NaN,18.0,28.0,2503400,Montgomery,AL,36117-3553
205,100690.0,25034,Amridge University,"Private, nonprofit",1,2401,"Liberal Arts and Sciences, General Studies and...",2,Associate's Degree,NaN,...,NaN,NaN,NaN,NaN,4.0,8.0,2503400,Montgomery,AL,36117-3553
206,100690.0,25034,Amridge University,"Private, nonprofit",1,2401,"Liberal Arts and Sciences, General Studies and...",3,BachelorÂ’s Degree,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2503400,Montgomery,AL,36117-3553
207,100690.0,25034,Amridge University,"Private, nonprofit",1,3802,Religion/Religious Studies.,5,Master's Degree,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,2503400,Montgomery,AL,36117-3553

In [22]:
private_schools_np.shape

(65754, 22)

## Public schools with Biomedical Engineering Programs

In [23]:
bio_engin_public = public_schools.loc[public_schools['CIPDESC'] == 'Biomedical/Medical Engineering.']

In [24]:
bio_engin_public.shape

(287, 22)

In [25]:
bio_engin_public

,UNITID,OPEID6,INSTNM_x,CONTROL,MAIN,CIPCODE,CIPDESC,CREDLEV,CREDDESC,COUNT,...,DEBTMEAN,TITLEIVCOUNT,EARNINGSCOUNT,MD_EARN_WNE,IPEDSCOUNT1,IPEDSCOUNT2,OPEID,CITY,STABBR,ZIP
83,100663.0,1052,University of Alabama at Birmingham,Public,1,1405,Biomedical/Medical Engineering.,3,BachelorÂ’s Degree,23.0,...,25622.0,NaN,NaN,NaN,29.0,34.0,105200,Birmingham,AL,35294-0110
84,100663.0,1052,University of Alabama at Birmingham,Public,1,1405,Biomedical/Medical Engineering.,5,Master's Degree,NaN,...,NaN,NaN,NaN,NaN,9.0,5.0,105200,Birmingham,AL,35294-0110
85,100663.0,1052,University of Alabama at Birmingham,Public,1,1405,Biomedical/Medical Engineering.,6,Doctoral Degree,NaN,...,NaN,NaN,NaN,NaN,6.0,1.0,105200,Birmingham,AL,35294-0110
357,100724.0,1005,Alabama State University,Public,1,1405,Biomedical/Medical Engineering.,3,BachelorÂ’s Degree,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,100500,Montgomery,AL,36104-0271
3270,104151.0,1081,Arizona State University-Tempe,Public,1,1405,Biomedical/Medical Engineering.,3,BachelorÂ’s Degree,131.0,...,20042.0,79.0,71.0,46200.0,153.0,146.0,108100,Tempe,AZ,85287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193873,445188.0,41271,University of California-Merced,Public,1,1405,Biomedical/Medical Engineering.,3,BachelorÂ’s Degree,32.0,...,17374.0,20.0,NaN,NaN,27.0,35.0,4127100,Merced,CA,95343-5603
193874,445188.0,41271,University of California-Merced,Public,1,1405,Biomedical/Medical Engineering.,5,Master's Degree,NaN,...,NaN,NaN,NaN,NaN,3.0,2.0,4127100,Merced,CA,95343-5603
193875,445188.0,41271,University of California-Merced,Public,1,1405,Biomedical/Medical Engineering.,6,Doctoral Degree,NaN,...,NaN,NaN,NaN,NaN,2.0,0.0,4127100,Merced,CA,95343-5603
201782,487010.0,6725,The University of Tennessee Health Science Center,Public,1,1405,Biomedical/Medical Engineering.,5,Master's Degree,NaN,...,NaN,NaN,NaN,NaN,2.0,5.0,672500,Memphis,TN,38163
201783,487010.0,6725,The University of Tennessee Health Science Center,Public,1,1405,Biomedical/Medical Engineering.,6,Doctoral Degree,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,672500,Memphis,TN,38163

## Tennessee Public schools with Biomedical Engineering ProgramsÂ¶

In [26]:
bio_engin_public_tn = tn_public_schools.loc[tn_public_schools['CIPDESC'] == 'Biomedical/Medical Engineering.']

In [27]:
bio_engin_public_tn.shape

(8, 22)

In [28]:
bio_engin_public_tn

,UNITID,OPEID6,INSTNM_x,CONTROL,MAIN,CIPCODE,CIPDESC,CREDLEV,CREDDESC,COUNT,...,DEBTMEAN,TITLEIVCOUNT,EARNINGSCOUNT,MD_EARN_WNE,IPEDSCOUNT1,IPEDSCOUNT2,OPEID,CITY,STABBR,ZIP
153226,220862.0,3509,University of Memphis,Public,1,1405,Biomedical/Medical Engineering.,3,BachelorÂ’s Degree,16.0,...,34955.0,NaN,NaN,NaN,22.0,11.0,350900,Memphis,TN,38152
153227,220862.0,3509,University of Memphis,Public,1,1405,Biomedical/Medical Engineering.,5,Master's Degree,NaN,...,NaN,NaN,NaN,NaN,4.0,11.0,350900,Memphis,TN,38152
153228,220862.0,3509,University of Memphis,Public,1,1405,Biomedical/Medical Engineering.,6,Doctoral Degree,NaN,...,NaN,NaN,NaN,NaN,2.0,1.0,350900,Memphis,TN,38152
154190,221759.0,3530,The University of Tennessee-Knoxville,Public,1,1405,Biomedical/Medical Engineering.,3,BachelorÂ’s Degree,28.0,...,20888.0,21.0,NaN,NaN,47.0,32.0,353000,Knoxville,TN,37996
154191,221759.0,3530,The University of Tennessee-Knoxville,Public,1,1405,Biomedical/Medical Engineering.,5,Master's Degree,NaN,...,NaN,NaN,NaN,NaN,6.0,9.0,353000,Knoxville,TN,37996
154192,221759.0,3530,The University of Tennessee-Knoxville,Public,1,1405,Biomedical/Medical Engineering.,6,Doctoral Degree,NaN,...,NaN,NaN,NaN,NaN,6.0,6.0,353000,Knoxville,TN,37996
201782,487010.0,6725,The University of Tennessee Health Science Center,Public,1,1405,Biomedical/Medical Engineering.,5,Master's Degree,NaN,...,NaN,NaN,NaN,NaN,2.0,5.0,672500,Memphis,TN,38163
201783,487010.0,6725,The University of Tennessee Health Science Center,Public,1,1405,Biomedical/Medical Engineering.,6,Doctoral Degree,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,672500,Memphis,TN,38163

## Private schools with Biomedical Engineering Programs

In [29]:
bio_engin_private = private_schools_np.loc[private_schools_np['CIPDESC'] == 'Biomedical/Medical Engineering.']

In [30]:
bio_engin_private.shape

(172, 22)

In [31]:
bio_engin_private

,UNITID,OPEID6,INSTNM_x,CONTROL,MAIN,CIPCODE,CIPDESC,CREDLEV,CREDDESC,COUNT,...,DEBTMEAN,TITLEIVCOUNT,EARNINGSCOUNT,MD_EARN_WNE,IPEDSCOUNT1,IPEDSCOUNT2,OPEID,CITY,STABBR,ZIP
7082,107044.0,1097,Harding University,"Private, nonprofit",1,1405,Biomedical/Medical Engineering.,3,BachelorÂ’s Degree,NaN,...,NaN,NaN,NaN,NaN,5.0,6.0,109700,Searcy,AR,72149-5615
9067,110361.0,1125,California Baptist University,"Private, nonprofit",1,1405,Biomedical/Medical Engineering.,3,BachelorÂ’s Degree,NaN,...,NaN,NaN,NaN,NaN,4.0,9.0,112500,Riverside,CA,92504-3297
9180,110404.0,1131,California Institute of Technology,"Private, nonprofit",1,1405,Biomedical/Medical Engineering.,3,BachelorÂ’s Degree,NaN,...,NaN,NaN,NaN,NaN,20.0,9.0,113100,Pasadena,CA,91125
9181,110404.0,1131,California Institute of Technology,"Private, nonprofit",1,1405,Biomedical/Medical Engineering.,5,Master's Degree,NaN,...,NaN,NaN,NaN,NaN,6.0,6.0,113100,Pasadena,CA,91125
9182,110404.0,1131,California Institute of Technology,"Private, nonprofit",1,1405,Biomedical/Medical Engineering.,6,Doctoral Degree,NaN,...,NaN,NaN,NaN,NaN,4.0,1.0,113100,Pasadena,CA,91125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183644,243744.0,1305,Stanford University,"Private, nonprofit",1,1405,Biomedical/Medical Engineering.,3,BachelorÂ’s Degree,NaN,...,NaN,NaN,NaN,NaN,21.0,27.0,130500,Stanford,CA,94305
183645,243744.0,1305,Stanford University,"Private, nonprofit",1,1405,Biomedical/Medical Engineering.,5,Master's Degree,NaN,...,NaN,NaN,NaN,NaN,22.0,39.0,130500,Stanford,CA,94305
183646,243744.0,1305,Stanford University,"Private, nonprofit",1,1405,Biomedical/Medical Engineering.,6,Doctoral Degree,NaN,...,NaN,NaN,NaN,NaN,18.0,15.0,130500,Stanford,CA,94305
192550,440031.0,38533,Keck Graduate Institute,"Private, nonprofit",1,1405,Biomedical/Medical Engineering.,5,Master's Degree,NaN,...,NaN,NaN,NaN,NaN,NaN,9.0,3853300,Claremont,CA,91711
202854,490373.0,42629,Western Michigan University Homer Stryker M.D....,"Private, nonprofit",1,1405,Biomedical/Medical Engineering.,5,Master's Degree,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,4262900,Kalamazoo,MI,49007

## Average debt of undergrad students with Bio Engineering degree from Private School: 20,730

In [32]:
# Distinction between bachelors degree and Undergraduate Diploma?
bio_engin_priv_bach = bio_engin_private.loc[bio_engin_private['CREDDESC'].str.startswith('B', 'U')]
bio_engin_priv_bach.shape

(63, 22)

In [33]:
# How to deal with 'Privacy Surpressed' cells? There are 21,461 so financial data is limited 
bio_engin_priv_bach['DEBTMEAN'].mean()

20730.121951219513

## Average debt of undergrad students with Bio Engineering degree from Public School: 23,621

In [34]:
# Distinction between bachelors degree and Undergraduate?
bio_engin_public_bach = bio_engin_public.loc[bio_engin_public['CREDDESC'].str.startswith('B', 'U')]
bio_engin_public_bach.shape

(91, 22)

In [35]:
bio_engin_public['DEBTMEAN'].mean()

23620.683673469386

## Average debt of undergrad students with Bio Engineering degree from TN Public School: 27,922

In [36]:
# Distinction between bachelors degree and Undergraduate?
bio_engin_tn_public_bach = bio_engin_public_tn.loc[bio_engin_public_tn['CREDDESC'].str.startswith('B', 'U')]
bio_engin_tn_public_bach.shape

(2, 22)

In [37]:
bio_engin_tn_public_bach

,UNITID,OPEID6,INSTNM_x,CONTROL,MAIN,CIPCODE,CIPDESC,CREDLEV,CREDDESC,COUNT,...,DEBTMEAN,TITLEIVCOUNT,EARNINGSCOUNT,MD_EARN_WNE,IPEDSCOUNT1,IPEDSCOUNT2,OPEID,CITY,STABBR,ZIP
153226,220862.0,3509,University of Memphis,Public,1,1405,Biomedical/Medical Engineering.,3,BachelorÂ’s Degree,16.0,...,34955.0,NaN,NaN,NaN,22.0,11.0,350900,Memphis,TN,38152
154190,221759.0,3530,The University of Tennessee-Knoxville,Public,1,1405,Biomedical/Medical Engineering.,3,BachelorÂ’s Degree,28.0,...,20888.0,21.0,NaN,NaN,47.0,32.0,353000,Knoxville,TN,37996

In [38]:
bio_engin_public_tn['DEBTMEAN'].mean()

27921.5

## Average 10 year loan payment

In [40]:
# DEBTPAYMENT10YR
print(bio_engin_priv_bach['DEBTPAYMENT10YR'].mean())
print(bio_engin_public_bach['DEBTPAYMENT10YR'].mean())
print(bio_engin_tn_public_bach['DEBTPAYMENT10YR'].mean())

237.90625
224.27272727272728
215.0